# Gap analysis of US Sales and Use tax calendars

Install libraries from requirements.txt using pip

In [558]:
import sys
#!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install -r requirements.txt
print("requirements installed \n running program...")

Collecting xlwt==1.3.0 (from -r requirements.txt (line 1))
  Using cached https://files.pythonhosted.org/packages/44/48/def306413b25c3d01753603b1a222a011b8621aed27cd7f89cbc27e6b0f4/xlwt-1.3.0-py2.py3-none-any.whl
Collecting openpyxl (from -r requirements.txt (line 2))
Collecting pillow (from -r requirements.txt (line 3))
  Using cached https://files.pythonhosted.org/packages/3d/9e/b8a10bec874d2f6f2668b0d71ddf0d0a69ed9307d2ef111607adf81fdc1c/Pillow-5.2.0-cp35-cp35m-manylinux1_x86_64.whl
Collecting bs4 (from -r requirements.txt (line 4))
Collecting lxml (from -r requirements.txt (line 5))
  Using cached https://files.pythonhosted.org/packages/5c/ee/e4acac810a85da614a60bf2221535bc2517d553b8d733cfd2dd644e2ab15/lxml-4.2.3-cp35-cp35m-manylinux1_x86_64.whl
Collecting selenium (from -r requirements.txt (line 6))
  Using cached https://files.pythonhosted.org/packages/41/c6/78a9a0d0150dbf43095c6f422fdf6f948e18453c5ebbf92384175b372ca2/selenium-3.13.0-py2.py3-none-any.whl
Collecting selenium-requests (from -r requirements.txt (line 7))
Collecting et-xmlfile (from openpyxl->-r requirements.txt (line 2))
Collecting jdcal (from openpyxl->-r requirements.txt (line 2))
  Using cached https://files.pythonhosted.org/packages/a0/38/dcf83532480f25284f3ef13f8ed63e03c58a65c9d3ba2a6a894ed9497207/jdcal-1.4-py2.py3-none-any.whl
Collecting beautifulsoup4 (from bs4->-r requirements.txt (line 4))
  Using cached https://files.pythonhosted.org/packages/9e/d4/10f46e5cfac773e22707237bfcd51bbffeaf0a576b0a847ec7ab15bd7ace/beautifulsoup4-4.6.0-py3-none-any.whl
Collecting tldextract (from selenium-requests->-r requirements.txt (line 7))
  Using cached https://files.pythonhosted.org/packages/0e/0c/1b7332684dfc2e6311d59cd00859a5318a7e0ba50334ad217ceb9555e213/tldextract-2.2.0-py2.py3-none-any.whl
Collecting requests (from selenium-requests->-r requirements.txt (line 7))
  Using cached https://files.pythonhosted.org/packages/65/47/7e02164a2a3db50ed6d8a6ab1d6d60b69c4c3fdf57a284257925dfc12bda/requests-2.19.1-py2.py3-none-any.whl
Collecting six (from selenium-requests->-r requirements.txt (line 7))
  Using cached https://files.pythonhosted.org/packages/67/4b/141a581104b1f6397bfa78ac9d43d8ad29a7ca43ea90a2d863fe3056e86a/six-1.11.0-py2.py3-none-any.whl
Collecting idna (from tldextract->selenium-requests->-r requirements.txt (line 7))
  Using cached https://files.pythonhosted.org/packages/4b/2a/0276479a4b3caeb8a8c1af2f8e4355746a97fab05a372e4a2c6a6b876165/idna-2.7-py2.py3-none-any.whl
Collecting requests-file>=1.4 (from tldextract->selenium-requests->-r requirements.txt (line 7))
  Using cached https://files.pythonhosted.org/packages/23/9c/6e63c23c39e53d3df41c77a3d05a49a42c4e1383a6d2a5e3233161b89dbf/requests_file-1.4.3-py2.py3-none-any.whl
Collecting setuptools (from tldextract->selenium-requests->-r requirements.txt (line 7))
  Using cached https://files.pythonhosted.org/packages/7f/e1/820d941153923aac1d49d7fc37e17b6e73bfbd2904959fffbad77900cf92/setuptools-39.2.0-py2.py3-none-any.whl
Collecting chardet<3.1.0,>=3.0.2 (from requests->selenium-requests->-r requirements.txt (line 7))
  Using cached https://files.pythonhosted.org/packages/bc/a9/01ffebfb562e4274b6487b4bb1ddec7ca55ec7510b22e4c51f14098443b8/chardet-3.0.4-py2.py3-none-any.whl
Collecting certifi>=2017.4.17 (from requests->selenium-requests->-r requirements.txt (line 7))
  Using cached https://files.pythonhosted.org/packages/7c/e6/92ad559b7192d846975fc916b65f667c7b8c3a32bea7372340bfe9a15fa5/certifi-2018.4.16-py2.py3-none-any.whl
Collecting urllib3<1.24,>=1.21.1 (from requests->selenium-requests->-r requirements.txt (line 7))
  Using cached https://files.pythonhosted.org/packages/bd/c9/6fdd990019071a4a32a5e7cb78a1d92c53851ef4f56f62a3486e6a7d8ffb/urllib3-1.23-py2.py3-none-any.whl
Installing collected packages: xlwt, et-xmlfile, jdcal, openpyxl, pillow, beautifulsoup4, bs4, lxml, selenium, idna, six, chardet, certifi, urllib3, requests, requests-file, setuptools, tldextract, selenium-requests
Successfully installed beautifulsoup4-4.6.0 bs4-0.0.1 certifi-2018.4.16 chardet-3.0.4 et-xmlfile-1.0.1 idna-2.7 jdcal-1.4 lxml-4.2.3 openpyxl-2.5.4 pillow-5.1.0 requests-2.19.1 requests-file-1.4.3 selenium-3.13.0 selenium-requests-1.3 setuptools-39.2.0 six-1.11.0 tldextract-2.2.0 urllib3-1.23 xlwt-1.3.0
You are using pip version 8.1.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
requirements installed
 running program...

# Pandas

Data comes from xslx file containing US Sales and Use Tax deadlines and csv file for comparison. 

See AJAXwebscraping.ipynb for AJAX webscraping

We will use Pandas to visualize the data and to identify differences in tax deadlines

In [559]:
import pandas as pd
import re
import csv
import matplotlib as plt
import numpy as np

filename = "UScalendar.xlsx"
df = pd.read_excel(filename,header=2) # headers are on row 2 of excel spreadsheet
df.head()

                                                                                                                  Due date Unnamed: 1     Tax type Unnamed: 3  Jurisdiction    Form  Unnamed: 6
0  2018-01-02 00:00:00                                                                                                      NaN        Sales & Use  NaN        North Dakota  ST     NaN
1  Monthly filers required to file Form ST for sales and use tax collected in November                                      NaN        NaN          NaN        NaN           NaN    NaN
2  2018-01-02 00:00:00                                                                                                      NaN        Sales & Use  NaN        Wisconsin     ST-12  NaN
3  Monthly filers owing $3,600 or less per quarter required to file Form ST-12 for sales and use tax collected in November  NaN        NaN          NaN        NaN           NaN    NaN
4  2018-01-02 00:00:00                                                                                                      NaN        Sales & Use  NaN        Indiana       ST-103 NaN

# DATA CLEAN UP
Formatting of spreadsheet is problematic. Heading is on row 2 and the even rows of the spreadsheet are a description of the preceding row.

Delete unwanted columns "unnamed:1,3,6", make all lowercase and simplify column names

In [560]:
df.columns = [x.lower() for x in df.columns]
df = df.rename(columns={"due date":"date", "tax type":"tax"})
df.columns

Index(['date', 'unnamed: 1', 'tax', 'unnamed: 3', 'jurisdiction', 'form', 'unnamed: 6'], dtype='object')

In [561]:

del df['unnamed: 1']
del df['unnamed: 3']
del df['unnamed: 6']
df.head()

                                                                                                                      date          tax  jurisdiction    form
0  2018-01-02 00:00:00                                                                                                      Sales & Use  North Dakota  ST
1  Monthly filers required to file Form ST for sales and use tax collected in November                                      NaN          NaN           NaN
2  2018-01-02 00:00:00                                                                                                      Sales & Use  Wisconsin     ST-12
3  Monthly filers owing $3,600 or less per quarter required to file Form ST-12 for sales and use tax collected in November  NaN          NaN           NaN
4  2018-01-02 00:00:00                                                                                                      Sales & Use  Indiana       ST-103

Odd number rows contain the description for the even and 0 numbered rows.

In [562]:
df.tail()

                                                                                            date          tax jurisdiction       form
2159  Monthly filers required to file Form OS-114 for sales and use tax collected in November     NaN          NaN          NaN
2160  2018-12-31 00:00:00                                                                         Sales & Use  Nevada       TXR-01.01
2161  Monthly filers required to file Form TXR-01.01 for sales and use tax collected in November  NaN          NaN          NaN
2162  NaN                                                                                         NaN          NaN          NaN
2163  ©2018 CCH Incorporated and its affiliates and licensors. All rights reserved.               NaN          NaN          NaN

In [563]:
df.set_index("date") # set the date column as the index
df.dtypes

date            object
tax             object
jurisdiction    object
form            object
dtype: object

The comments are all strings whereas dates can be converted into datetime objects

In [564]:
c = df[df.date.str.contains("") == True] # extract the comments (strings) from date field

In [565]:
df.head()

                                                                                                                      date          tax  jurisdiction    form
0  2018-01-02 00:00:00                                                                                                      Sales & Use  North Dakota  ST
1  Monthly filers required to file Form ST for sales and use tax collected in November                                      NaN          NaN           NaN
2  2018-01-02 00:00:00                                                                                                      Sales & Use  Wisconsin     ST-12
3  Monthly filers owing $3,600 or less per quarter required to file Form ST-12 for sales and use tax collected in November  NaN          NaN           NaN
4  2018-01-02 00:00:00                                                                                                      Sales & Use  Indiana       ST-103

In [567]:
df['date'] = pd.to_datetime(df['date'], errors='coerce') # turning dates into datetime object for conversion

In [568]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2164 entries, 0 to 2163
Data columns (total 4 columns):
date            1070 non-null datetime64[ns]
tax             1070 non-null object
jurisdiction    1070 non-null object
form            1070 non-null object
dtypes: datetime64[ns](1), object(3)
memory usage: 67.7+ KB

In [569]:
df['date'] = df['date'].dt.strftime('%d/%m/%Y') # format is to match df_calendar imported later. Date format is UK dd/mm/yyyy

In [570]:
df.head()

         date          tax  jurisdiction    form
0  02/01/2018  Sales & Use  North Dakota  ST
1  NaT         NaN          NaN           NaN
2  02/01/2018  Sales & Use  Wisconsin     ST-12
3  NaT         NaN          NaN           NaN
4  02/01/2018  Sales & Use  Indiana       ST-103

In [571]:
df2 = df[df.form.notnull()] # remove rows which are null to clean up data. Using the column 'form'

In [573]:
df2[df2['jurisdiction'].str.contains("Louisiana")]

            date          tax jurisdiction    form
100   22/01/2018  Sales & Use  Louisiana    R-1029
102   22/01/2018  Sales & Use  Louisiana    R-1029
374   20/02/2018  Sales & Use  Louisiana    R-1029
522   20/03/2018  Sales & Use  Louisiana    R-1029
682   20/04/2018  Sales & Use  Louisiana    R-1029
684   20/04/2018  Sales & Use  Louisiana    R-1029
890   21/05/2018  Sales & Use  Louisiana    R-1029
1032  20/06/2018  Sales & Use  Louisiana    R-1029
1204  20/07/2018  Sales & Use  Louisiana    R-1029
1206  20/07/2018  Sales & Use  Louisiana    R-1029
1424  20/08/2018  Sales & Use  Louisiana    R-1029
1566  20/09/2018  Sales & Use  Louisiana    R-1029
1724  22/10/2018  Sales & Use  Louisiana    R-1029
1726  22/10/2018  Sales & Use  Louisiana    R-1029
1934  20/11/2018  Sales & Use  Louisiana    R-1029
2074  20/12/2018  Sales & Use  Louisiana    R-1029

In [574]:
print(len(c)) # comparison on lengths of c and df2 dataframe
print(len(df2))
c.tail()

1082
1070

                                                                                            date  tax jurisdiction form
2155  Monthly filers required to file Form TC-62 for sales and use tax collected in November      NaN  NaN          NaN
2157  Monthly filers required to file Form 41 for sales and use tax collected in November         NaN  NaN          NaN
2159  Monthly filers required to file Form OS-114 for sales and use tax collected in November     NaN  NaN          NaN
2161  Monthly filers required to file Form TXR-01.01 for sales and use tax collected in November  NaN  NaN          NaN
2163  ©2018 CCH Incorporated and its affiliates and licensors. All rights reserved.               NaN  NaN          NaN

Length of comments and df2 don't match
Comments have paragraph headings for Month and Year interspersed among them

In [576]:
c[c['date'].str.contains("2018")] # all unwanted rows contain 2018

                                                                               date  tax jurisdiction form
325   February 2018                                                                  NaN  NaN          NaN
467   March 2018                                                                     NaN  NaN          NaN
595   April 2018                                                                     NaN  NaN          NaN
841   May 2018                                                                       NaN  NaN          NaN
981   June 2018                                                                      NaN  NaN          NaN
1111  July 2018                                                                      NaN  NaN          NaN
1373  August 2018                                                                    NaN  NaN          NaN
1515  September 2018                                                                 NaN  NaN          NaN
1637  October 2018                                                                   NaN  NaN          NaN
1885  November 2018                                                                  NaN  NaN          NaN
2023  December 2018                                                                  NaN  NaN          NaN
2163  ©2018 CCH Incorporated and its affiliates and licensors. All rights reserved.  NaN  NaN          NaN

In [577]:
c2 = c[~c['date'].str.contains("2018")]
comments = c2['date']# removing 2018 rows from comments

In [578]:
df2 = df2.assign(comments=comments.values)

In [579]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1070 entries, 0 to 2160
Data columns (total 5 columns):
date            1070 non-null object
tax             1070 non-null object
jurisdiction    1070 non-null object
form            1070 non-null object
comments        1070 non-null object
dtypes: object(5)
memory usage: 50.2+ KB

In [613]:
df2.head()

          date          tax jurisdiction    form                                                                                                                          comments  id
26  22/01/2018  Sales & Use  Mississippi  72-010  Monthly filers required to file Form 72-010 for sales tax collected in December of previous year                                  US
28  22/01/2018  Sales & Use  Mississippi  72-110  Monthly filers required to file Form 72-110 for use tax collected in December of previous year                                    US
30  22/01/2018  Sales & Use  Mississippi  72-010  Quarterly filers required to file Form 72-010 for sales tax collected in the 4th quarter of previous year                         US
32  22/01/2018  Sales & Use  Mississippi  72-110  Quarterly filers required to file Form 72-110 for use tax collected in the 4th quarter of previous year                           US
34  22/01/2018  Sales & Use  New Jersey   ST-50   Monthly filers required to file quarterly return (Form ST-50) and remit sales and use tax collected in December of previous year  US

# Website

Load dates from csv file for comparison after AJAX webscraping

In [583]:
file = "2018-07-05CCHdates.csv"
parse_dates = ['date']
df_calendar = pd.read_csv(file,names=['date','country', 'comments'], parse_dates=parse_dates, dayfirst=True)
df_calendar.head()

        date        country                                                        comments
0 2018-01-22  United States   Monthly sales and use tax for businesses in Alabama
1 2018-01-22  United States   Quarterly sales and use tax for businesses in Alabama
2 2018-01-22  United States   Annual sales and use tax for businesses in Alabama
3 2018-01-22  United States   Monthly estimated sales and use tax for businesses in Alabama
4 2018-02-20  United States   Monthly estimated sales and use tax for businesses in Alabama

In [584]:
df_calendar['date'] = df_calendar['date'].dt.strftime('%d/%m/%Y') # format date to match df2

In [585]:
df_calendar.head()

         date        country                                                        comments
0  22/01/2018  United States   Monthly sales and use tax for businesses in Alabama
1  22/01/2018  United States   Quarterly sales and use tax for businesses in Alabama
2  22/01/2018  United States   Annual sales and use tax for businesses in Alabama
3  22/01/2018  United States   Monthly estimated sales and use tax for businesses in Alabama
4  20/02/2018  United States   Monthly estimated sales and use tax for businesses in Alabama

Date contains unwanted column "country" and the name of the State is in the comments. Need to extract the state name as jurisdiction column from the final word of each comment

In [586]:
df_calendar['comments'].head()

0     Monthly sales and use tax for businesses in Alabama
1     Quarterly sales and use tax for businesses in Alabama
2     Annual sales and use tax for businesses in Alabama
3     Monthly estimated sales and use tax for businesses in Alabama
4     Monthly estimated sales and use tax for businesses in Alabama
Name: comments, dtype: object

In [587]:
juri = df_calendar['comments'].str.split(" in ") # Name of state appears after "businesses in"
# NB need to split on " in " and not "in" to avoid splitting states with "in" middle of name

In [588]:
juris = []
for i in range(len(juri)):
    juris.append(juri[i][-1])
print(juris)

['Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Alabama', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arizona', 'Arkansas', 'Arkansas', 'Arkansas', 'Arkansas', 'Arkansas', 'Arkansas', 'Arkansas', 'Arkansas', 'Arkansas', 'Arkansas', 'Arkansas', 'Arkansas', 'Arkansas', 'Arkansas', 'Arkansas', 'Arkansas', 'Arkansas', 'California', 'California', 'California', 'California', 'California', 'California', 'California', 'California', 'California', 'California', 'California', 'California', 'California', 'California', 'California', 'California', 'California', 'Colorado', 'Colorado', 'Colorado', 'Colorado', 'Colorado', 'Colorado', 'Colorado', 'Colorado', 'Colorado', 'Colorado', 'Colorado', 'Colorado', 'Colorado', 'Colorado', 'Colorado', 'Colorado', 'Colorado', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Connecticut', 'Florida', 'Florida', 'Florida', 'Florida', 'Florida', 'Florida', 'Florida', 'Florida', 'Florida', 'Florida', 'Florida', 'Florida', 'Florida', 'Florida', 'Florida', 'Florida', 'Florida', 'Florida', 'Florida', 'Georgia', 'Georgia', 'Georgia', 'Georgia', 'Georgia', 'Georgia', 'Georgia', 'Georgia', 'Georgia', 'Georgia', 'Georgia', 'Georgia', 'Georgia', 'Georgia', 'Georgia', 'Georgia', 'Georgia', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii', 'Hawaii', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Illinois', 'Illinois', 'Illinois', 'Illinois', 'Illinois', 'Illinois', 'Illinois', 'Illinois', 'Illinois', 'Illinois', 'Illinois', 'Illinois', 'Illinois', 'Illinois', 'Illinois', 'Illinois', 'Illinois', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Indiana', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Iowa', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kansas', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Kentucky', 'Louisiana', 'Louisiana', 'Louisiana', 'Louisiana', 'Louisiana', 'Louisiana', 'Louisiana', 'Louisiana', 'Louisiana', 'Louisiana', 'Louisiana', 'Louisiana', 'Louisiana', 'Louisiana', 'Louisiana', 'Louisiana', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maine', 'Maryland', 'Maryland', 'Maryland', 'Maryland', 'Maryland', 'Maryland', 'Maryland', 'Maryland', 'Maryland', 'Maryland', 'Maryland', 'Maryland', 'Maryland', 'Maryland', 'Maryland', 'Maryland', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Massachusetts', 'Michigan', 'Michigan', 'Michigan', 'Michigan', 'Michigan', 'Michigan', 'Michigan', 'Michigan', 'Michigan', 'Michigan', 'Michigan', 'Michigan', 'Michigan', 'Michigan', 'Michigan', 'Michigan', 'Michigan', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Minnesota', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Mississippi', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Missouri', 'Nebraska', 'Nebraska', 'Nebraska', 'Nebraska', 'Nebraska', 'Nebraska', 'Nebraska', 'Nebraska', 'Nebraska', 'Nebraska', 'Nebraska', 'Nebraska', 'Nebraska', 'Nebraska', 'Nebraska', 'Nebraska', 'Nebraska', 'Nevada', 'Nevada', 'Nevada', 'Nevada', 'Nevada', 'Nevada', 'Nevada', 'Nevada', 'Nevada', 'Nevada', 'Nevada', 'Nevada', 'Nevada', 'Nevada', 'Nevada', 'Nevada', 'New Jersey', 'New Jersey', 'New Jersey', 'New Jersey', 'New Jersey', 'New Jersey', 'New Jersey', 'New Jersey', 'New Jersey', 'New Jersey', 'New Jersey', 'New Jersey', 'New Jersey', 'New Jersey', 'New Jersey', 'New Jersey', 'New Mexico', 'New Mexico', 'New Mexico', 'New Mexico', 'New Mexico', 'New Mexico', 'New Mexico', 'New Mexico', 'New Mexico', 'New Mexico', 'New Mexico', 'New Mexico', 'New Mexico', 'New Mexico', 'New Mexico', 'New Mexico', 'New Mexico', 'New Mexico', 'New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'New York', 'North Carolina', 'North Carolina', 'North Carolina', 'North Carolina', 'North Carolina', 'North Carolina', 'North Carolina', 'North Carolina', 'North Carolina', 'North Carolina', 'North Carolina', 'North Carolina', 'North Carolina', 'North Carolina', 'North Carolina', 'North Carolina', 'North Dakota', 'North Dakota', 'North Dakota', 'North Dakota', 'North Dakota', 'North Dakota', 'North Dakota', 'North Dakota', 'North Dakota', 'North Dakota', 'North Dakota', 'North Dakota', 'North Dakota', 'North Dakota', 'North Dakota', 'North Dakota', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Ohio', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Oklahoma', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Pennsylvania', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'Rhode Island', 'South Carolina', 'South Carolina', 'South Carolina', 'South Carolina', 'South Carolina', 'South Carolina', 'South Carolina', 'South Carolina', 'South Carolina', 'South Carolina', 'South Carolina', 'South Carolina', 'South Carolina', 'South Carolina', 'South Carolina', 'South Carolina', 'South Carolina', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'South Dakota', 'Tennessee', 'Tennessee', 'Tennessee', 'Tennessee', 'Tennessee', 'Tennessee', 'Tennessee', 'Tennessee', 'Tennessee', 'Tennessee', 'Tennessee', 'Tennessee', 'Tennessee', 'Tennessee', 'Tennessee', 'Tennessee', 'Tennessee', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Texas', 'Utah', 'Utah', 'Utah', 'Utah', 'Utah', 'Utah', 'Utah', 'Utah', 'Utah', 'Utah', 'Utah', 'Utah', 'Utah', 'Utah', 'Utah', 'Utah', 'Utah', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Vermont', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Virginia', 'Washington', 'Washington', 'Washington', 'Washington', 'Washington', 'Washington', 'Washington', 'Washington', 'Washington', 'Washington', 'Washington', 'Washington', 'Washington', 'Washington', 'Washington', 'Washington', 'Washington', 'West Virginia', 'West Virginia', 'West Virginia', 'West Virginia', 'West Virginia', 'West Virginia', 'West Virginia', 'West Virginia', 'West Virginia', 'West Virginia', 'West Virginia', 'West Virginia', 'West Virginia', 'West Virginia', 'West Virginia', 'West Virginia', 'West Virginia', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wisconsin', 'Wyoming', 'Wyoming', 'Wyoming', 'Wyoming', 'Wyoming', 'Wyoming', 'Wyoming', 'Wyoming', 'Wyoming', 'Wyoming', 'Wyoming', 'Wyoming', 'Wyoming', 'Wyoming', 'Wyoming', 'Wyoming', 'Wyoming']

In [589]:
se = pd.Series(juris) # need to make list into a pd series before assigning

df_calendar = df_calendar.assign(jurisdiction=se.values)

In [590]:
df_calendar

            date        country                                                         comments jurisdiction
0     22/01/2018  United States   Monthly sales and use tax for businesses in Alabama             Alabama
1     22/01/2018  United States   Quarterly sales and use tax for businesses in Alabama           Alabama
2     22/01/2018  United States   Annual sales and use tax for businesses in Alabama              Alabama
3     22/01/2018  United States   Monthly estimated sales and use tax for businesses in Alabama   Alabama
4     20/02/2018  United States   Monthly estimated sales and use tax for businesses in Alabama   Alabama
5     20/02/2018  United States   Monthly sales and use tax for businesses in Alabama             Alabama
6     20/03/2018  United States   Monthly estimated sales and use tax for businesses in Alabama   Alabama
7     20/03/2018  United States   Monthly sales and use tax for businesses in Alabama             Alabama
8     20/04/2018  United States   Monthly estimated sales and use tax for businesses in Alabama   Alabama
9     20/04/2018  United States   Monthly sales and use tax for businesses in Alabama             Alabama
10    20/04/2018  United States   Quarterly sales and use tax for businesses in Alabama           Alabama
11    21/05/2018  United States   Monthly sales and use tax for businesses in Alabama             Alabama
12    21/05/2018  United States   Monthly estimated sales and use tax for businesses in Alabama   Alabama
13    20/06/2018  United States   Monthly estimated sales and use tax for businesses in Alabama   Alabama
14    20/06/2018  United States   Monthly sales and use tax for businesses in Alabama             Alabama
15    20/07/2018  United States   Quarterly sales and use tax for businesses in Alabama           Alabama
16    20/07/2018  United States   Monthly estimated sales and use tax for businesses in Alabama   Alabama
17    20/07/2018  United States   Monthly sales and use tax for businesses in Alabama             Alabama
18    20/08/2018  United States   Monthly sales and use tax for businesses in Alabama             Alabama
19    20/08/2018  United States   Monthly estimated sales and use tax for businesses in Alabama   Alabama
20    20/09/2018  United States   Monthly sales and use tax for businesses in Alabama             Alabama
21    20/09/2018  United States   Monthly estimated sales and use tax for businesses in Alabama   Alabama
22    22/10/2018  United States   Monthly sales and use tax for businesses in Alabama             Alabama
23    22/10/2018  United States   Quarterly sales and use tax for businesses in Alabama           Alabama
24    22/10/2018  United States   Monthly estimated sales and use tax for businesses in Alabama   Alabama
25    20/11/2018  United States   Monthly estimated sales and use tax for businesses in Alabama   Alabama
26    20/11/2018  United States   Monthly sales and use tax for businesses in Alabama             Alabama
27    20/12/2018  United States   Monthly sales and use tax for businesses in Alabama             Alabama
28    20/12/2018  United States   Monthly estimated sales and use tax for businesses in Alabama   Alabama
29    22/01/2018  United States   Quarterly sales and use tax for businesses in Arizona           Arizona
...          ...            ...                                                     ...               ...
1031  31/07/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin    Wisconsin
1032  31/07/2018  United States   Quarterly Sales and Use Tax filing for businesses in Wisconsin  Wisconsin
1033  20/08/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin    Wisconsin
1034  31/08/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin    Wisconsin
1035  20/09/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin    Wisconsin
1036  01/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin    Wisconsin
1037  22/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin    Wisconsin
1038  31/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin    Wisconsin
1039  31/10/2018  United States   Quarterly Sales and Use Tax filing for businesses in Wisconsin  Wisconsin
1040  20/11/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin    Wisconsin
1041  30/11/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin    Wisconsin
1042  20/12/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin    Wisconsin
1043  31/12/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin    Wisconsin
1044  31/01/2018  United States   Quarterly Sales and Use Tax filing for businesses in Wyoming    Wyoming
1045  31/01/2018  United States   Annual Sales and Use Tax filing for businesses in Wyoming       Wyoming
1046  31/01/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming      Wyoming
1047  28/02/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming      Wyoming
1048  02/04/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming      Wyoming
1049  30/04/2018  United States   Quarterly Sales and Use Tax filing for businesses in Wyoming    Wyoming
1050  30/04/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming      Wyoming
1051  31/05/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming      Wyoming
1052  02/07/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming      Wyoming
1053  31/07/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming      Wyoming
1054  31/07/2018  United States   Quarterly Sales and Use Tax filing for businesses in Wyoming    Wyoming
1055  31/08/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming      Wyoming
1056  01/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming      Wyoming
1057  31/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming      Wyoming
1058  31/10/2018  United States   Quarterly Sales and Use Tax filing for businesses in Wyoming    Wyoming
1059  30/11/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming      Wyoming
1060  31/12/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming      Wyoming

[1061 rows x 4 columns]

# Comparison
Purpose of data comparison is to determine whether any dates are missing/different in df_calendar compared to df2

df_calendar is ordered by states but df2 is ordered by date

In [593]:
df_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1061 entries, 0 to 1060
Data columns (total 4 columns):
date            1061 non-null object
country         1061 non-null object
comments        1061 non-null object
jurisdiction    1061 non-null object
dtypes: object(4)
memory usage: 33.2+ KB

In [594]:
df_calendar.sort_values("date")

            date        country                                                                                   comments    jurisdiction
1036  01/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin                              Wisconsin
1056  01/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming                                Wyoming
258   01/10/2018  United States   Monthly sales and use tax for businesses in Indiana                                       Indiana
298   01/10/2018  United States   Monthly filers required to file Form 32-022 for sales and use tax for businesses in Iowa  Iowa
692   01/10/2018  United States   Monthly Sales and Use Tax filing for businesses in North Dakota                           North Dakota
111   01/10/2018  United States   Monthly sales and use tax for businesses in California                                    California
609   01/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Nevada                                 Nevada
145   01/10/2018  United States   Monthly sales and use tax for businesses in Connecticut                                   Connecticut
927   01/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Utah                                   Utah
137   02/04/2018  United States   Monthly sales and use tax for businesses in Connecticut                                   Connecticut
919   02/04/2018  United States   Monthly Sales and Use Tax filing for businesses in Utah                                   Utah
246   02/04/2018  United States   Monthly sales and use tax for businesses in Indiana                                       Indiana
601   02/04/2018  United States   Monthly Sales and Use Tax filing for businesses in Nevada                                 Nevada
276   02/04/2018  United States   Monthly filers required to file Form 32-022 for sales and use tax for businesses in Iowa  Iowa
1022  02/04/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin                              Wisconsin
684   02/04/2018  United States   Monthly Sales and Use Tax filing for businesses in North Dakota                           North Dakota
1048  02/04/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming                                Wyoming
252   02/07/2018  United States   Monthly sales and use tax for businesses in Indiana                                       Indiana
688   02/07/2018  United States   Monthly Sales and Use Tax filing for businesses in North Dakota                           North Dakota
141   02/07/2018  United States   Monthly sales and use tax for businesses in Connecticut                                   Connecticut
923   02/07/2018  United States   Monthly Sales and Use Tax filing for businesses in Utah                                   Utah
1029  02/07/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin                              Wisconsin
605   02/07/2018  United States   Monthly Sales and Use Tax filing for businesses in Nevada                                 Nevada
287   02/07/2018  United States   Monthly filers required to file Form 32-022 for sales and use tax for businesses in Iowa  Iowa
107   02/07/2018  United States   Monthly sales and use tax for businesses in California                                    California
1052  02/07/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming                                Wyoming
103   03/04/2018  United States   Monthly sales and use tax for businesses in California                                    California
496   05/02/2018  United States   Annual sales and use tax for businesses in Minnesota                                      Minnesota
280   10/05/2018  United States   Semi-monthly deposits for businesses in Iowa                                              Iowa
291   10/08/2018  United States   Semi-monthly deposits for businesses in Iowa                                              Iowa
...          ...            ...                                            ...                                               ...
1057  31/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming                                Wyoming
301   31/10/2018  United States   Monthly filers for sales and use tax for businesses in Iowa                               Iowa
808   31/10/2018  United States   Quarterly Sales and Use Tax filing for businesses in Rhode Island                         Rhode Island
147   31/10/2018  United States   Monthly sales and use tax for businesses in Connecticut                                   Connecticut
146   31/10/2018  United States   Quarterly sales and use tax for businesses in Connecticut                                 Connecticut
694   31/10/2018  United States   Monthly Sales and Use Tax filing for businesses in North Dakota                           North Dakota
693   31/10/2018  United States   Quarterly Sales and Use Tax filing for businesses in North Dakota                         North Dakota
576   31/10/2018  United States   Monthly use tax for businesses in Missouri                                                Missouri
929   31/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Utah                                   Utah
928   31/10/2018  United States   Quarterly Sales and Use Tax filing for businesses in Utah                                 Utah
1039  31/10/2018  United States   Quarterly Sales and Use Tax filing for businesses in Wisconsin                            Wisconsin
574   31/10/2018  United States   Monthly sales tax filing for businesses in Missouri                                       Missouri
573   31/10/2018  United States   Quarterly use tax for businesses in Missouri                                              Missouri
611   31/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Nevada                                 Nevada
995   31/10/2018  United States   Quarterly Sales and Use Tax filing for businesses in Washington                           Washington
112   31/10/2018  United States   Quarterly sales and use tax for businesses in California                                  California
610   31/10/2018  United States   Quarterly Sales and Use Tax filing for businesses in Nevada                               Nevada
300   31/10/2018  United States   Quarterly sales and use tax for businesses in Iowa                                        Iowa
678   31/10/2018  United States   Quarterly Sales and Use Tax filing for businesses in North Carolina                       North Carolina
1038  31/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin                              Wisconsin
113   31/10/2018  United States   Monthly sales and use tax for businesses in California                                    California
115   31/12/2018  United States   Monthly sales and use tax for businesses in California                                    California
931   31/12/2018  United States   Monthly Sales and Use Tax filing for businesses in Utah                                   Utah
149   31/12/2018  United States   Monthly sales and use tax for businesses in Connecticut                                   Connecticut
696   31/12/2018  United States   Monthly Sales and Use Tax filing for businesses in North Dakota                           North Dakota
264   31/12/2018  United States   Monthly sales and use tax for businesses in Indiana                                       Indiana
309   31/12/2018  United States   Monthly filers required to file Form 32-022 for sales and use tax for businesses in Iowa  Iowa
1043  31/12/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin                              Wisconsin
613   31/12/2018  United States   Monthly Sales and Use Tax filing for businesses in Nevada                                 Nevada
1060  31/12/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming                                Wyoming

[1061 rows x 4 columns]

In [595]:
df_calendar.set_index("date")
df_calendar.sort_values("date")

            date        country                                                                                   comments    jurisdiction
1036  01/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin                              Wisconsin
1056  01/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming                                Wyoming
258   01/10/2018  United States   Monthly sales and use tax for businesses in Indiana                                       Indiana
298   01/10/2018  United States   Monthly filers required to file Form 32-022 for sales and use tax for businesses in Iowa  Iowa
692   01/10/2018  United States   Monthly Sales and Use Tax filing for businesses in North Dakota                           North Dakota
111   01/10/2018  United States   Monthly sales and use tax for businesses in California                                    California
609   01/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Nevada                                 Nevada
145   01/10/2018  United States   Monthly sales and use tax for businesses in Connecticut                                   Connecticut
927   01/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Utah                                   Utah
137   02/04/2018  United States   Monthly sales and use tax for businesses in Connecticut                                   Connecticut
919   02/04/2018  United States   Monthly Sales and Use Tax filing for businesses in Utah                                   Utah
246   02/04/2018  United States   Monthly sales and use tax for businesses in Indiana                                       Indiana
601   02/04/2018  United States   Monthly Sales and Use Tax filing for businesses in Nevada                                 Nevada
276   02/04/2018  United States   Monthly filers required to file Form 32-022 for sales and use tax for businesses in Iowa  Iowa
1022  02/04/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin                              Wisconsin
684   02/04/2018  United States   Monthly Sales and Use Tax filing for businesses in North Dakota                           North Dakota
1048  02/04/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming                                Wyoming
252   02/07/2018  United States   Monthly sales and use tax for businesses in Indiana                                       Indiana
688   02/07/2018  United States   Monthly Sales and Use Tax filing for businesses in North Dakota                           North Dakota
141   02/07/2018  United States   Monthly sales and use tax for businesses in Connecticut                                   Connecticut
923   02/07/2018  United States   Monthly Sales and Use Tax filing for businesses in Utah                                   Utah
1029  02/07/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin                              Wisconsin
605   02/07/2018  United States   Monthly Sales and Use Tax filing for businesses in Nevada                                 Nevada
287   02/07/2018  United States   Monthly filers required to file Form 32-022 for sales and use tax for businesses in Iowa  Iowa
107   02/07/2018  United States   Monthly sales and use tax for businesses in California                                    California
1052  02/07/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming                                Wyoming
103   03/04/2018  United States   Monthly sales and use tax for businesses in California                                    California
496   05/02/2018  United States   Annual sales and use tax for businesses in Minnesota                                      Minnesota
280   10/05/2018  United States   Semi-monthly deposits for businesses in Iowa                                              Iowa
291   10/08/2018  United States   Semi-monthly deposits for businesses in Iowa                                              Iowa
...          ...            ...                                            ...                                               ...
1057  31/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming                                Wyoming
301   31/10/2018  United States   Monthly filers for sales and use tax for businesses in Iowa                               Iowa
808   31/10/2018  United States   Quarterly Sales and Use Tax filing for businesses in Rhode Island                         Rhode Island
147   31/10/2018  United States   Monthly sales and use tax for businesses in Connecticut                                   Connecticut
146   31/10/2018  United States   Quarterly sales and use tax for businesses in Connecticut                                 Connecticut
694   31/10/2018  United States   Monthly Sales and Use Tax filing for businesses in North Dakota                           North Dakota
693   31/10/2018  United States   Quarterly Sales and Use Tax filing for businesses in North Dakota                         North Dakota
576   31/10/2018  United States   Monthly use tax for businesses in Missouri                                                Missouri
929   31/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Utah                                   Utah
928   31/10/2018  United States   Quarterly Sales and Use Tax filing for businesses in Utah                                 Utah
1039  31/10/2018  United States   Quarterly Sales and Use Tax filing for businesses in Wisconsin                            Wisconsin
574   31/10/2018  United States   Monthly sales tax filing for businesses in Missouri                                       Missouri
573   31/10/2018  United States   Quarterly use tax for businesses in Missouri                                              Missouri
611   31/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Nevada                                 Nevada
995   31/10/2018  United States   Quarterly Sales and Use Tax filing for businesses in Washington                           Washington
112   31/10/2018  United States   Quarterly sales and use tax for businesses in California                                  California
610   31/10/2018  United States   Quarterly Sales and Use Tax filing for businesses in Nevada                               Nevada
300   31/10/2018  United States   Quarterly sales and use tax for businesses in Iowa                                        Iowa
678   31/10/2018  United States   Quarterly Sales and Use Tax filing for businesses in North Carolina                       North Carolina
1038  31/10/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin                              Wisconsin
113   31/10/2018  United States   Monthly sales and use tax for businesses in California                                    California
115   31/12/2018  United States   Monthly sales and use tax for businesses in California                                    California
931   31/12/2018  United States   Monthly Sales and Use Tax filing for businesses in Utah                                   Utah
149   31/12/2018  United States   Monthly sales and use tax for businesses in Connecticut                                   Connecticut
696   31/12/2018  United States   Monthly Sales and Use Tax filing for businesses in North Dakota                           North Dakota
264   31/12/2018  United States   Monthly sales and use tax for businesses in Indiana                                       Indiana
309   31/12/2018  United States   Monthly filers required to file Form 32-022 for sales and use tax for businesses in Iowa  Iowa
1043  31/12/2018  United States   Monthly Sales and Use Tax filing for businesses in Wisconsin                              Wisconsin
613   31/12/2018  United States   Monthly Sales and Use Tax filing for businesses in Nevada                                 Nevada
1060  31/12/2018  United States   Monthly Sales and Use Tax filing for businesses in Wyoming                                Wyoming

[1061 rows x 4 columns]

In [614]:
df2= df2[13:] # strip out first 13 results from df2 so it starts on same date as df_calendar

## Finding all differences between DF2 and DF_Calendar using Python Dict

In [615]:
map_dict = {} # dictionary to record whether matching date and state found

# iterate each row of df2 against df_calendar
for index, row in df2.iterrows():
    dict_k = str(row['date'])
    dict_key = dict_k + " " + row['jurisdiction'] # ID needs to be date plus jurisdiction
    map_dict[dict_key] = "unmatched" 
    for index2,row2 in df_calendar.iterrows():
        if row['date'] == row2['date']:
            if row['jurisdiction'].lower() == row2['jurisdiction'].lower():
                map_dict[dict_key] = "matched"

In [601]:
# print all dates that did not match date and state in df_calendar
for k,v in map_dict.items():
    if v == "unmatched":
        print(k,v)
#

30/03/2018 Indiana unmatched
22/10/2018 New York unmatched
02/03/2018 Indiana unmatched
20/08/2018 District of Columbia unmatched
NaT Jurisdiction unmatched
20/11/2018 District of Columbia unmatched
29/06/2018 Arizona unmatched
20/04/2018 District of Columbia unmatched
20/03/2018 District of Columbia unmatched
20/07/2018 District of Columbia unmatched
20/02/2018 District of Columbia unmatched
20/09/2018 District of Columbia unmatched
22/01/2018 District of Columbia unmatched
22/10/2018 District of Columbia unmatched
20/06/2018 District of Columbia unmatched
21/05/2018 District of Columbia unmatched
20/12/2018 District of Columbia unmatched
23/05/2018 South Dakota unmatched

In [616]:
pd.set_option('display.max_colwidth', 1) # increase width of dfs to make easier to see

## Finding differences in calendars using Pandas DataFrames

In [604]:
df2= df2.assign(id="US") # assign ids to dfs to make it easier to compare in merged df

In [606]:
df_calendar = df_calendar.assign(id="CCH")

In [617]:
df_merged = df2.merge(df_calendar, how='outer') # merge dataframes with outer join
df_merged = df_merged[['date', 'jurisdiction', 'comments', 'id']] # drop unwanted columns

In [619]:
df_merged.head()

         date jurisdiction                                                                                                           comments  id
0  22/01/2018  Tennessee    Annual filers required to file Form SLS 450 for sales and use tax collected in previous year                       US
1  22/01/2018  Texas        Monthly filers required to file Form 01-114 for sales and use tax collected in December of previous year           US
2  22/01/2018  Texas        Quarterly filers required to file Form 01-114 for sales and use tax collected in the 4th quarter of previous year  US
3  22/01/2018  Texas        Annual filers required to file Form 01-114 for sales and use tax collected in previous year                        US
4  22/01/2018  Virginia     Monthly filers required to file Form ST-9 for sales tax collected in December of previous year                     US

Find duplicate date and jurisdictions with boolean mask

In [609]:
duplicate_boolean = df_merged.duplicated(['date','jurisdiction'],keep=False) # Need keep=False shows all duplicates
unique = df_merged.loc[duplicate_boolean == False] # unique values don't have a duplicate

In [610]:
unique.sort_values('jurisdiction')

            date          jurisdiction                                                                                                                                   comments   id
542   29/06/2018  Arizona               Taxpayers with liability in excess of $1,000,000 in previous calendar year required to file paper Form TPT-ES for estimated tax due        US
20    22/01/2018  District of Columbia  Monthly filers required to file Form FR-800M for sales and use tax collected in December of previous year                                  US
1006  20/12/2018  District of Columbia  Monthly filers required to file Form FR-800M for sales and use tax collected in November                                                   US
938   20/11/2018  District of Columbia  Monthly filers required to file Form FR-800M for sales and use tax collected in October                                                    US
758   20/09/2018  District of Columbia  Monthly filers required to file Form FR-800M for sales and use tax collected in August                                                     US
689   20/08/2018  District of Columbia  Monthly filers required to file Form FR-800M for sales and use tax collected in July                                                       US
574   20/07/2018  District of Columbia  Monthly filers required to file Form FR-800M for sales and use tax collected in June                                                       US
497   20/06/2018  District of Columbia  Monthly filers required to file Form FR-800M for sales and use tax collected in May                                                        US
428   21/05/2018  District of Columbia  Monthly filers required to file Form FR-800M for sales and use tax collected in April                                                      US
320   20/04/2018  District of Columbia  Monthly filers required to file Form FR-800M for sales and use tax collected in March                                                      US
248   20/03/2018  District of Columbia  Monthly filers required to file Form FR-800M for sales and use tax collected in February                                                   US
177   20/02/2018  District of Columbia  Monthly filers required to file Form FR-800M for sales and use tax collected in January                                                    US
1301  28/02/2018  Indiana                Monthly sales and use tax for businesses in Indiana                                                                                       CCH
290   30/03/2018  Indiana               Monthly filers with average monthly liability of less than $1000 required to file Form ST-103 for sales and use tax collected in February  US
229   02/03/2018  Indiana               Monthly filers with average monthly liability of less than $1000 required to file Form ST-103 for sales and use tax collected in January   US
1303  02/04/2018  Indiana                Monthly sales and use tax for businesses in Indiana                                                                                       CCH
817   22/10/2018  New York              Part-quarterly filers required to file Form ST-809 for sales and use tax due for September                                                 US
461   23/05/2018  South Dakota          Monthly electronic filers required to file Form RV11STRTN for sales and use tax collected in April                                         US